<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="process" method="post">
        <div>
            <label>Name :</label>
            <input type="text" name="Name" id="Name">
        </div>
        <label>Age :</label>
        <input type="text" name="Age" id="Age">

        </div>
        <button>Submit</button>

    </form>
</body>

</html>