@{
    ViewData["Title"] = "Home Page";
}

@model Actor
<div class="text-center">

    <form action="/add/actor" method="post">
        <div class="form-group">
            <label asp-for="Name"> Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Image"> Image</label>
            <input asp-for="Image" class="form-control" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="submit" class="btn btn-danger" />
        </div>
    </form>
</div>
