@{
    ViewData["Title"] = "Home Page";
}

@model User

<div class="text-center">
    <h1 class="display-4">WElcome to our MVC Project</h1>
    <form action="process" method="post">
        <div>
            <label for=""> Name :</label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class=text-danger></span>
        </div>
        <div>
            <label for=""> Favorite Color :</label>
            <input asp-for="FavColor" class="form-control">
            <span asp-validation-for="FavColor" class=text-danger></span>
        </div>
        <div>
            <label for=""> Favorite Number :</label>
            <input asp-for="FavNumber" class="form-control">
            <span asp-validation-for="FavNumber" class=text-danger></span>
        </div>
        <div>
            <input type="Submit" class="btn btn-primary">
        </div>

    </form>
</div>
